.form-container {
  background: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  width: 400px;
  margin:  90px auto;
}

.form-container h2 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #202124;
  font-weight: 400;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.3s;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #5f6368;
  font-size: 16px;
  transition: all 0.2s ease;
  pointer-events: none;
  background: white;
  padding: 0 4px;
}

.formErro{
    color: #C00;
    font-size: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #1a73e8;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #1a73e8;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #1a73e8;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #1669c1;
}

@media (max-width:480px){
  .form-container {


    /*width: calc(100% - 60px);*/
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

  }

}
