
/* Painel centralizado */
.painel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 80vh;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.painel-header {
  padding: 16px 20px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500;
  font-size: 18px;
  color: #202124;
  text-align: center;
}

.painel-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.painel-menu li {
  padding: 14px 20px;
  cursor: pointer;
  color: #202124;
  transition: background-color 0.2s;
}

.painel-menu li:hover {
  background-color: #f1f3f4;
}

.conteudo {
  padding: 20px;
  font-size: 14px;
  color: #5f6368;
}

.conteudo p {
  margin-bottom: 12px;
}
.pastaSel{
  font-size: 40px;
}



/*------------------------lista itens---------------------*/
.folder-list {

  width: 800px;
  margin: 90px auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.folder-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s;
}

.folder-item:last-child {
  border-bottom: none;
}

.folder-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.folder-icon {
  font-size: 24px;
  margin-right: 20px;
  color: #f4b400; /* Google yellow tone */
}

.folder-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}



.folder-name,.folder-path,.folder-date {
  font-family: 'Roboto', Arial, sans-serif;
}




.folder-name {
  font-weight: 500;
  font-size: 16px;
  color: #202124;
}

.folder-path {
  font-size: 13px;
  color: #5f6368;
  margin-top: 2px;
}

.folder-date {
  font-size: 13px;
  color: #5f6368;
  margin-left: auto;
}
/*--------------msg excluir projeto--------------------*/
.excluirConfirmar{
  margin: 20px;
}
.txtMsgExcluir{
  font-size: 16px;
  color: #F00;
  margin: 0;
  text-align: center;
}
.actions{
  margin-top:20px;
  display:flex;
  gap:12px;
  justify-content:center;
}
.bntMsgExcluir{
  padding:10px 18px;
  border-radius:8px;
  border:0;
  font-size:14px;
  cursor:pointer
}
.no{
  background:transparent;
  color:var(--muted);
  border:1px solid rgba(95,99,104,0.12);
}
.yes{
  background:var(--primary);
  color:rgba(95,99,104,0.5);
  border:1px solid rgba(95,99,104,0.12);
}


/*---------------lista itens-------------------------------*/
@media (max-width:800px){
  .folder-list{
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .folder-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .folder-date {
    margin-left: 0;
    margin-top: 8px;
  }
}
/*---------------------painel centralizado-------------------*/
@media (max-width:460px){
  .painel{
    width: calc(100% - 60px);
    flex-direction: none;
  }
}
