.descritxt{
    font-size: 18px;
    color:#535e43;
    margin: 10px 0 3px 0;
}
.formtxt{
    font-size: 16px;
    color:666px;
    height: 40px;
    width: calc(100% - 22px);
    border-radius: 6px;
    border: solid 1px #666;
    margin-bottom: 10px;
    padding: 3px 10px;
}

.select{
    height: 20px;
    width: 20px;
    float: left;
}

.txtbuton{
    /*float: left;*/
    margin: 5px 0 0 3px;
    font-size: 18px;
    color:#535e43;
}


.bntok,
.bntenviar{
    background-color: #535e43;
    color: #FFF;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 30px 0;
    font-size: 18px;
    float: left;
}


.resposta{
    min-height: 300px;
    
}

.campo_loading{
    padding: 20px 0;
}
.img_loading{
    float: left;
    height: 40px;
}
.txt_loading{
    font-size: 18px;
    color: #535e43;
    float: left;
    margin: 10px 0 0 5px;
}


.campo_msg{
    font-size:18px;
    color:#331799;
    padding: 20px 0;
}

.img_form{
    width: 100%;
    border-radius: 8px;
}

#painel_email_logado{
    border: solid 1px #666;
    border-radius: 6px;
    padding: 3px 10px;
    display: none;
}
#foto_usuario{
    height: 45px;
    width: 45px;
    float: left;
    border-radius: 60px;
    display: none;
    margin-right: 5px;
}
#painel_logar_google,
#email_logado{
    font-size: 18px;
    color: #535e43;
    word-break: break-all;
    padding:10px 0 10px 0;
    float: left;
    width: calc(100% - 52px);
}
.mensagen_noivos{
    overflow:hidden; resize:none;
    padding-top: 20px;
    height: 100px;
}
.txt_rastreio{
    font-size: 16px;
    border-radius: 6px;
    border: solid 1px #666;
    padding: 15px 10px;
    margin: 0;
    width: calc(100% - 22px);
    color: #535e43;
    cursor: pointer;
}



/*----------mensagens----------*/
.painel_mensagem{
    /*border-top:#CCC 1px;
    border-left: #CCC 1px;
    border-right: #CCC 1px;
    border-bottom: 0;
    border-style: solid;

    border-radius: 6px;
    padding: 10px;*/
    margin-bottom: 40px;
}

.foto_mensagem{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 60px;
    margin-right: 5px;
    position: absolute;
}

.sem_foto{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 60px;
    margin-right: 5px;
    position: absolute;
    background-color: rgb(45, 53, 161);
}
.txt_sem_foto{
    font-size: 40px;
    color: #CCC;
    padding: 5px 0 0 0;
    text-align: center;
}

.caixa_comen{
    float: right;
    background-color: #f8f6f6;
    padding:5px;
    width: calc(100% - 70px);
    border-radius:0 5px 5px 5px;
    box-shadow: 0 0 15px -10px #666;
    border: solid 1px #CCC;
    margin-top: 15px;
}
.ponta_msg{
    float: left;
    position: absolute;
    margin: -5px 0 0 -14px;
    
    
    border-left:solid 0 #535e43;
    border-right:solid 10px #f8f6f6;
    border-bottom:solid 20px rgba(0,0,0,0);
    border-top:solid 3px rgba(0,0,0,0);
    

    /*background-color: aqua;
    width: 20px;
    height: 20px;*/
}





.email_mensagem{
    font-size: 12px;
    font-weight: bold;
    color: #535e43;
    word-break: break-all;

    
}
.comentario_mensagem{
    font-size: 16px;
    color: #666;
    margin: 20px 10px;
}
.data{
    text-align: right;
    color: #999;
}