html, body {
      margin: 0;
      padding: 0;
      /*background-color:#B6A89B;*/
      background-color: #fff;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .letra_menor{
      font-size: 11px;
    }

    #meuVideo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      display: none;
      z-index: 6;
    }
    .FBespaco_carta{
        margin-top: -70px;
    }
   /*corpo----------------------*/

    .corpo_meio{
    
      width: 100%;
      position: fixed;
      top: 40%;
      bottom: 0;
      left: 0;
      right: 0;
    }



    .corpo_rodape{
      
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      
      height: 180px;
    }



    .fundo_florido{
      height: 200px;
      background-size: auto 100%;
      background-image: url('../img/fundo_florido.png');
      background-position: top;
      background-repeat: no-repeat;
      

      position: fixed;
    width: 100%;
            bottom: -110px;
            left: 0;
            right: 0;
            background-position: center;

    }
    .alinhamento_meio{
      width: 450px;
      margin: 0 auto;

    }




    /* conteudo---------------*/

    .img_carta{
      display: block;
      margin: 0 auto;
        height: 100%;
      
        max-height: 320px;
        /*max-width: 100%;*/
    
    }
    .img_carta_alinha{
        height: calc(55% - 193px);
        width: 450px;
       
        position: fixed;
    }


    .navegacao_carta{
      transform: scale(0.75);
            transform-origin: top left;
            transform-origin: center;
            margin: 0 auto;
    }

    /*.navega_play{
        position: fixed;
        bottom: 40px;
        width: 400px;
        height: 120px;
        z-index: 3;
        margin: 0 auto;
        left: 0;
        right: 0;
    }*/
    
    /*.espaco_img_carta{
      height: 100%;

      
    }*/
    .espaco_img_carta_foto{
      height: 40%;
      margin-top: -5px;
      background-repeat: no-repeat;
      background-size: auto 220%;
      background-position: center top 40%;
    

    }
    /*------------------------------------------------------*/
   
      
    
    @media (max-width:450px) {
    .img_carta_alinha{
        width: 100%;

      }
      .alinhamento_meio{
        width:100%;
      }
      
    }

    /*------------------------------------------------------*/
     @media (max-height:680px) {

       /*.espaco_img_carta_foto{
      
      background-position: center top 40%;
    

    }*/
         
        .img_carta_alinha{
            height: calc(63% - 193px);
        }
        
        
        .navegacao_carta{
            transform: scale(0.70);
            margin-top: -15px;
            
        }
        .corpo_rodape{
            height: 150px;
        }
      
      
    }


    @media (max-height:600px) {

       
         .agosto_30{
            margin-top: -20px;
         }
 
         .img_carta_alinha{
            height: calc(63% - 170px);
        }
      
    }

    @media (max-height:450px) {

       .corpo_rodape{
            height: 120px;
        }
         
        .img_carta_alinha{
            height: calc(63% - 140px);
        }
      
    }